footer{
    background-color: var(--color-primry);
    padding: 2rem;
    text-align: center;
    margin: 1.5rem 0;
    
}

.logo{
    font-size: 2.4rem;
    padding: 2rem 0;

}
footer a{
    color: var(--color-bg );
}

.permalinks{
    margin: 2.3rem auto 2rem;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
}
.social__links{
    margin-bottom: 2rem;
    display: flex;
    gap: 1.4rem;
    justify-content: center;

}
.social__links a{
    padding: 1.2rem;
    background-color: var(--color-bg);
    color: var(--color-primry);
    border-radius:1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.social__links a:hover{
    background-color: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}
.footer__icon{
    font-size: 1.5rem;
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--color-bg);
    font-size: 1.3rem;
}

@media screen and (max-width:600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .social_links{
        margin-bottom: 2.6rem;
    }
}