nav{
    background-color: rgba(0,0,0,0.3);
    width: max-content;
    padding: 1rem 2rem;
    z-index: 2;
    position:fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%) ;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    backdrop-filter: blur(15px);
}
nav a{
    padding: 0.7rem;
    border-radius: 3rem;
    color: var(--color-white);

}

nav a.active{
    background-color: rgba(0, 0, 0, 0.4);
    
}
 
nav a:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
